# BASE
API_SERVER_PROJECT_NAME="Trapper"
ENVIRONMENT="dev"
# ENVIRONMENT="production"
API_PREFIX="/api/v1"

# DATABASE
MARIADB_ROOT_PASSWORD=X&0!0S+7ThIDr&NA3haP
MARIADB_SERVER=localhost
MARIADB_DATABASE=trapper_db
MARIADB_USER=mariadb
MARIADB_PASSWORD=X&0!0S+7ThIDr&NA3haP

# ACCESS TOKEN
ACCESS_TOKEN_EXPIRE_MINUTES=43200 # 30 days
ACCESS_TOKEN_SECRET_KEY=e28c1182c958a45eed80701dc2b40130a9762376956731b9dc615268afbe5da0
COOKIE_MAX_AGE_IN_MS=5184000000 # 60 days
# key can be generated with `openssl rand -hex 32`

# TASK SECRET
TASK_SECRET_KEY=sZJBOFwCqjLtezzxh9Gem6slSAkajxKS

# BACKEND ADMIN
FIRST_SUPERUSER_EMAIL=admin@a.a
FIRST_SUPERUSER_USERNAME=admin
FIRST_SUPERUSER_PASSWORD=admin
FIRST_USER_EMAIL=user@a.a
FIRST_USER_USERNAME=user
FIRST_USER_PASSWORD=user

# BACKEND ADMIN
LOOKUP_TYPE_STATUS=STATUS
LOOKUP_TYPE_VULNERABILITY_TYPE=VULNERABILITY_TYPE
LOOKUP_TYPE_SEVERITY_LEVEL=SEVERITY


# DATABASE_URL=mysql://username:password@localhost:3306/database_name
# RABBITMQ_URL=amqp://username:password@localhost:5672/

# BACKEND CORS
BACKEND_CORS_ORIGINS=["http://localhost:3000"]

# BACKEND CELERY 
CELERY_BROKER_URL=amqp://trapper:trapper@localhost:5672

VITE_DEV_PORT=5000

# VITE EXTENSION APP
VITE_API_URL="http://localhost:8000/api/v1"
VITE_API_VERSION="1.0.0"
VITE_CONSOLE_PANEL_URL="http://localhost:3000"
VITE_CONSOLE_PANEL_LOGIN_PATH="/auth/login"


# RABBIT MQ 
RABBITMQ_USER=trapper
RABBITMQ_PASS=trapper
RABBITMQ_ADMIN_USER=trapper-admin
RABBITMQ_ADMIN_PASS=Qono5aSW-D4I?lboblde


# XSSHUNTER--------------------
# [REQUIRED] The hostname/domain pointed to
# the IP of the server running this service.
XSSHUNTER_HOSTNAME=localhost # to change this
XSSHUNTER_NODE_ENV=dev
XSSHUNTER_PORT=55000


# Maximum XSS callback payload size
# This includes the webpage screenshot, DOM HTML,
# page text, and other metadata. Note that if the
# payload is above this limit, you won't be notified
# of the XSS firing.
XSSHUNTER_MAX_PAYLOAD_UPLOAD_SIZE_MB=50
# Whether or not to enable the web control panel
# Set to "false" or remove to disable the web UI.
# Useful for minimizing attack surface.
XSSHUNTER_CONTROL_PANEL_ENABLED=true
# Whether or not to enable email notifications via
# SMTP for XSS payload fires.
XSSHUNTER_SMTP_EMAIL_NOTIFICATIONS_ENABLED=false
XSSHUNTER_SMTP_HOST=smtp.gmail.com
XSSHUNTER_SMTP_PORT=465
XSSHUNTER_SMTP_USE_TLS=true
XSSHUNTER_SMTP_USERNAME=YourEmail@gmail.com
XSSHUNTER_SMTP_PASSWORD=YourEmailPassword
XSSHUNTER_SMTP_FROM_EMAIL=YourEmail@gmail.com
XSSHUNTER_SMTP_RECEIVER_EMAIL=YourEmail@gmail.com
# THERE IS NO NEED TO MODIFY BELOW THIS LINE
# ------------------------------------------
# FEEL FREE, BUT KNOW WHAT YOU'RE DOING.
# Where XSS screenshots are stored
XSSHUNTER_SCREENSHOTS_DIR=payload-fire-images
XSSHUNTER_DATABASE_NAME=trapper_db
XSSHUNTER_DATABASE_USER=mariadb
XSSHUNTER_DATABASE_PASSWORD=X&0!0S+7ThIDr&NA3haP
XSSHUNTER_DATABASE_HOST=localhost