#BASE
API_SERVER_PROJECT_NAME="Trapper"
ENVIRONMENT="dev"
# ENVIRONMENT="production"
API_PREFIX="/api/v1"

# DATABASE
MARIADB_ROOT_PASSWORD=
MARIADB_SERVER=
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=


# ACCESS TOKEN
ACCESS_TOKEN_EXPIRE_MINUTES=60
ACCESS_TOKEN_SECRET_KEY=
COOKIE_MAX_AGE_IN_MS=5184000000
# key can be generated with `openssl rand -hex 32`

# BACKEND ADMIN
FIRST_SUPERUSER_EMAIL=
FIRST_SUPERUSER_USERNAME=
FIRST_SUPERUSER_PASSWORD=

# DATABASE_URL=mysql://username:password@localhost:3306/database_name
# RABBITMQ_URL=amqp://username:password@localhost:5672/

# BACKEND CORS
BACKEND_CORS_ORIGINS=["http://localhost:80", "http://localhost:8080"]